ul {padding:0px;}
body{margin: 0px auto;overflow-x: hidden;display:inline;}
.header{width:100%;float:left;background:#eaeff2}
.headercenter1{width:80%;margin:0px auto;}
.logo{width:30%;float:left;}
.logo img{font-weight: 400;font-size: 16px;color: #fff;float: left;}
.headerright{width:40%;float:left;}
.search{margin-top:5px;}
.icons{width:30%;float:left;}
.search-bar input[type="text"] {background-color: transparent;border: none;padding:3px;}
.search-bar{display:inline-block;width: 75%;border: 2px solid #4692f0;border-radius: 20px;}
.button{display:inline-block;font-weight: bolder}
.icons li {float: left;border-left: solid 1px #ccc;font-weight: bold;font-size: 16px;color: #fff;line-height: 35px;padding: 0px 10px;}
.icons li a{color:#4692f0;font-weight: bold;}
.button a {background-color: #4692f0;padding: 6px;color: #fff;border-radius: 50%;}
a:hover {text-decoration:none!important;}
.button a:hover {background-color: #3bb9f0;color:white;}
.icons li a:hover{color:#3bb9f0;}
input[type="text"]:focus {outline: none;}
.header1{width:100%;float:left;background:#3bb9f0}
.links1 {    margin-left: 220px;}
.links1 li a{float: left;border-left: solid 1px #fff;font-weight: bold;font-size: 16px;color: #fff;line-height: 35px;padding: 0px 10px;}
.links1 ul{margin:0px;}
.header2{width:100%;float:left;}
.header3{margin-top:20px;width:100%;float:left;background:#eaeff2;margin-bottom: 10px}
.banner img{width: 100%;}
.header4{margin-top:10px; width:100%;float:left;background:#88d8fb!important;padding-bottom: 20px;}
.header4 img{width: 100%;}
.header4 h4{text-align: center;font-size: 28px;margin-top: 50px;margin-bottom: 50px;color: black;background-color: white;height: 61px;padding: 14px;border-radius: 15px;font-weight: 700;}
.header4 span{color:#3bb9f0;}
.slide img{width:84%!important;height:30%!important;border-radius:20px;}
.s1text {width: 85% !important;margin-left: 45px;}
.s1text h3{color:black;text-align:center;margin-top:25px;margin-right: 50px}
.s1text span{color:black;margin: 0px;font-size: 18px;}
.layer{background: linear-gradient(180deg, rgba(228, 229, 230,0.5) 20%, rgba(59, 185, 240, 0.51) 80%);text-align: center;}
.layer{position: absolute;top: 0px;left: 19px;width: 85%;height:100%;border-radius:20px;display:none;}
.layer a{padding:10px;margin-top: 80px;display: inline-block;border: 1px solid #3bb9f0;background: #3bb9f0;color: white;font-weight: bolder;}
.slide.slick-slide:hover .layer {display: block;}
.s1img{position: relative;}
.slide.slick-slide:hover { box-shadow: 0px 0px 7px 1px #fff;.links}
.slide.slick-slide {margin: 6px!important;padding: 20px 0px;}
img.links {margin: 0 auto;}
.header5{width:100%;float:left;    background-color: #eaeff2;}
.header5 h1{background-color:#3bb9f0;color:white;font-size:25px;font-weight:700;letter-spacing:1px;padding:16px}
.header5 .pp1{width:25%;float:left;}
.header5 .pp1 img{height: 220px;padding: 15px;width:100%}
.pp1:hover img{border:1px solid white; box-shadow: 0 5px 17px 0 rgba(23,84,116,.18)!important;!important;}
.rc{width:25%;float:left;}
.rc h1{border-right: 2px solid white;}
.rc1{background-color:white}
.rc1 span{font-size:14px;color: #3bb9f0;}
.rc1 li{border-left: 2px solid #3bb9f0;border-bottom: 2px solid #3bb9f0;}
.rc1 span:hover{color:black;}
.compare-bar input{padding: 3px;}
.compare-bar input[type="text"] {background-color: transparent;border: none;padding:3px;margin:4px 12px;}
.compare-bar{display:inline-block;width: 75%;border: 2px solid #4692f0;border-radius: 20px;margin:7px 29px;}
.fm{margin-left:10px;}
.button1{font-size: 18px;
border: 1px solid #3bb9f0;
background: #3bb9f0;
padding: 4px 1px;
text-align: center;
border-radius: 60px;
width: 193px;
margin: 0px auto;}
.button1 a{color:white;font-weight:bold;}
.rc1.fm {padding-bottom: 4px;}
.footer1{width:25%;float:left;}
.footer2{width:25%;float:left;}
.footer3{width:25%;float:left;}
.footer4{width:25%;float:left;}
.footer{width:100%;float:left; margin-top:0px;padding:10px 20px;}
.footer2 ul{padding:0px;}
.footer3 ul{padding:0px;}
.footer2 ul li{padding:0px;font-size:14px;color:gray;}
.footer3 ul li{padding:0px;font-size:14px;color:gray;}
.footer4 ul{padding:0px;}
.footer4 ul li{padding:10px 0px;display:inline-block;} 
.footer4 i {font-size: 20px;padding: 0px 5px;color:gray;}
.footer4 input{width:68%;background:#E9EDE9 ;border:1px solid #E9EDE9;height:40px;display:inline-block;padding:10px;font-size: 13px;}
.footer4 select{width:30%;display:inline-block;background:#E9EDE9;border:none;height:40px;font-size:12px;} 
.footer4 button{margin-top:10px;background:black;color:white;height:42px; border:none;font-weight:bold;border-radius:20px;padding: 10px 47px}
.footer h5{color:black;font-weight:bold;font-size:20px;}
.footer1 img{height:auto;width:100px;margin-top:5px;background:#E9EDE9;}
.footer h1{font-size:20px;color:gray;}
.footer4 i:hover{color:red;}
.footer4 ul li:first-child i:hover{color:#0909A5;}
.footer4 ul li:nth-child(2) i:hover{color:#2EE9F2;}
.footer4 ul li:nth-child(5) i:hover{color:#609DA0;}
.footer4 button:hover{background:#333333;}
.footer2 ul li a{color: gray;text-decoration: none;font-size: 15px;}
.footer3 ul li a{color:gray;text-decoration: none;font-size: 15px;}
.footer{background:#9fdcee}
.footer-copyright{background:#3bb9f0;color: #79a5ed;font-size: 14px;width: 100%;background: #2e4d7e;text-align: center;line-height: 40px;margin-top: 20px}
.footer-copyright a:hover{color:white}
.rc img{width:10%;}
.rc h1{font-size:20px}
.rc1 ul li{padding: 12px;}
.pp1 {position: relative;}
.pp1:hover .layer {display: block;}
.pp1 .layer {width: 89%;left: 16px;border-radius: 0;top: 16px;height: 86%;}
.pp1 .layer a{padding:10px;margin-top: 70px;display: inline-block;border: 1px solid #3bb9f0;background: #3bb9f0;color: white;font-weight: bolder;}
.pp1 .layer span:hover{color:black;}